TOKEN="your bot token here"  # here is a tutorial on how to get setup a bot and get this
PREFIX="!"  # the prefix the bot should use, will default to "!" if this is not present
Guild_ID = #your guild id here