[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = "~=1.5.0"
python-dotenv = "*"
aiofiles = "*"

[dev-packages]
pylint = "~=2.6.0"
pre-commit = "~=2.1"

[requires]
python_version = "3.8"

[scripts]
start = "python -m bot"
precommit = "pre-commit install"
